# Dependências
node_modules/

# Build
dist/

# Ambiente (NUNCA subir para o git)
.env
.env.local
.env.production

# PM2
.pm2/

# Logs
logs/
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Editor
.vscode/
.idea/
*.swp
*.swo
